---
const { baseData } = Astro.props;
const stackList = () => {
  if (baseData) {
    const { tech_stack } = baseData;
    const { id, greeting_id, created_at, ...rest } = tech_stack[0];
    return rest;
  }
  return [];
};
---

<div id="techstack" class="tech-stack-section">
  <h2>Tech Stack</h2>
  <div class="tech-stack-container">
    {
      Object.entries(stackList()).map((entry, idx) => {
        if (entry[1])
          return (
            <div>
              <div title={entry[0]} class="tech-stack-element">
                <img
                  src={`/${entry[0]}.png`}
                  height="50"
                  width="50"
                  alt={entry[0]}
                />
              </div>
              <div
                style={{
                  textAlign: 'center',
                  textTransform: 'capitalize',
                }}
                class="small"
              >
                {entry[0]}
              </div>
            </div>
          );
        return null;
      })
    }
  </div>
  <div class="separator" style={{ margin: '72px 0' }}></div>
</div>
<style>
  .tech-stack-section {
    margin-top: 72px;
  }
  .tech-stack-container {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  @keyframes reveal {
    0% {
      opacity: 0;
      translate: 0, 100px;
    }
    100% {
      opacity: 1;
      translate: 0, 0;
    }
  }

  .tech-stack-element {
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }

  .tech-stack-element > img {
    scale: 1;
    transition: scale 0.2s ease-in-out;
  }

  .tech-stack-element > img:hover {
    scale: 1.1;
  }

  @media (max-width: 768px) {
    .tech-stack-container {
      display: grid;
      grid-template-columns: repeat(3, 75px);
      row-gap: 16px;
    }
    .tech-stack-element {
      flex-direction: column;
      align-items: center;
      margin: auto;
    }
  }
</style>
