.sidebar-custom {
  z-index: 3;
}

.focuser {
  position: absolute;
  top: 98px;
  left: 0;
  width: calc(var(--unit) / 2);
  height: 38px;
  background-color: var(--accentColor);
  border-top-right-radius: var(--unit);
  border-bottom-right-radius: var(--unit);
  content: '';
  transition: all 0.2s ease-in-out;
}

.sidebar-button_selected::before {
  display: none;
}

.sidebar_collapsed.sidebar-custom > .sidebar-collapsed-button {
  pointer-events: none !important;
}

.sidebar_collapsed.sidebar-custom > .sidebar-collapsed-button::before {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: var(--unit);
  content: '';
  background-image: url('../../../public/Logo.svg');
  transition: all 0.2s ease-in-out;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
}
