
body {
  margin: 0;
  font-family: Tahoma;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* colour palette:
  #deeaee
  #b1cbbb
  #eea29a
  #c94c4c
   */


/* 
  opt colour palette
  #E5DFDF
  #6BA8A9
  #357376
  #1D4D4F
*/