---
import '../../tag/index.css';
import { PreFooter } from '../components/PreFooter/PreFooter';
import SB from '../components/Sidebar/Sidebar';
export interface Props {
  title: string;
}

const { title } = Astro.props;
const { pathname } = Astro.url;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="tag-ds">
    <SB client:load url={pathname} />
    <div style="margin-left:80px">
      <slot />
    </div>
    {
      Astro.url.pathname !== 'Book' && Astro.url.pathname !== '/Dashboard' && (
        <PreFooter client:load />
      )
    }
  </body>
</html>

<style is:global>
  html {
    --outlineOffset: -4px;
    --fontFamily: 'Roboto', sans-serif;
    --neutral0: #ffffff;
    --neutral100: #f8f8f9;
    --neutral200: #ebebee;
    --neutral300: #e0e0e4;
    --neutral400: #ccccd3;
    --neutral500: #adadb5;
    --neutral600: #7c828a;
    --neutral700: #5c6573;
    --neutral800: #1c304b;
    --accent100: #eff8f7;
    --accent200: #ceeae8;
    --accent300: #aedcd9;
    --accent400: #8dcdc9;
    --accent500: #5cb8b2;
    --accent600: #367c78;
    --accent700: #275956;
    --primary100: #ced7e4;
    --primary200: #8894a5;
    --primary300: #727f8f;
    --primary400: #495667;
    --primary500: #1c304b;
    --primary600: #030c18;
    --primary700: #000306;
    --secondary100: #ccf2ff;
    --secondary200: #99e6ff;
    --secondary300: #33cdff;
    --secondary400: #009acc;
    --secondary500: #107b9e;
    --secondary600: #0e6987;
    --secondary700: #004d66;
    --tertiary100: #7e63e8;
    --tertiary200: #81a4ff;
    --tertiary300: #ffc133;
    --tertiary400: #ff8e4f;
    --tertiary500: #e87a71;
    --tertiary600: #eb9fbb;
    --alert100: #fff0cc;
    --alert200: #ffd166;
    --alert400: #ffc133;
    --alert600: #b88000;
    --error100: #f7d3d0;
    --error200: #f0a6a1;
    --error400: #e87a71;
    --error600: #e04d42;
    --success100: #dcf5d6;
    --success200: #96e283;
    --success400: #73d85a;
    --success600: #33841f;
    --primaryColor: var(--primary500);
    --secondaryColor: var(--secondary500);
    --accentColor: var(--accent500);
    --errorColor: var(--error400);
    --successColor: var(--success400);
    --alertColor: var(--alert400);
  }
</style>
